.content-container {
    padding: 1em;
    margin: auto;
    /* width: 50%; */
    height: 100%;
}

h1 {
    text-align: center;
    padding: .6em 0 0 0;
}

.main-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 1.2em .6em;
}

.main-info > p {
    padding: 0 1em;
}

.main-info > img {
    height: auto;
    width: 35%;
    /* min-width: 8em; */
    max-width: 10em;
    margin: .5em 1em .5em .5em;
}

.change-btn {
    padding: .5em 1em;
    margin: 1em auto;
    border: 2px solid grey;
    border-radius: 5px;
    width: max-content;
    cursor: pointer;
}

@media screen and (min-width: 765px) {
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: max-content;
        max-height: 15em;
    }
}